@page "/petdisplay/{category}"
@using PetStore.Models
@using PetStore.Services
@inject PetService PetService

<PageTitle>Pets</PageTitle>

<h1>@PageTitleText</h1>

@if (filteredPets.Count == 0)
{
  <p>No pets found in this category.</p>
}
else
{
  <div class="category-grid">
    @foreach (var pet in filteredPets)
    {
      <NavLink class="pet-card" href="@($"/pet/{pet.Id}")">
        <div class="pet-image-container">
          <img src="@pet.ImageUrl" alt="@pet.Name" />
        </div>

        <h3>@pet.Name</h3>
        
        @* <p><strong>Age:</strong> @pet.Age</p> *@

      </NavLink>
    }
  </div>
}

@code {
  [Parameter]
  public string? category { get; set; }

  private List<Pet> filteredPets = new();

  private string PageTitleText =>
      string.IsNullOrWhiteSpace(category)
          ? "Pets"
          : char.ToUpper(category[0]) + category.Substring(1);

  protected override void OnParametersSet()
  {
    filteredPets = PetService.GetPetsByCategory(category);
  }
}